<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-DO648RIQuanLyNhanSu" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-DO648RI;integrated security=SSPI;initial catalog=QuanLyNhanSu" />
        <add name="DuyKhanh_Thinh_0987925038" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=&quot;C:\Users\Tri Dinh\Desktop\DuyKhanh_Thinh_0987925038.mdb&quot;;user id=;password=;" />
    </connectionStrings>
</configuration>