<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-QFI8MPKSQLEXPRESSQuanLyNhanSu" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-QFI8MPK\SQLEXPRESS;integrated security=SSPI;initial catalog=QuanLyNhanSu" />
        <add name="NhanSu" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=&quot;C:\Users\Tan Hoa\Downloads\NhanSu.mdb&quot;;user id=;password=;" />
    </connectionStrings>
</configuration>