<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Project->ASP.NET Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <!--
    <add key="Languages" value="de;es;ja;ru" />
    -->
    <add key="EnableDiagnosticActions" value="False" />
    <!--
    <add key="XafMobileStaticFilesLocation" value="Static" /> 
    -->
    <!-- 
    Use the one of predefined values: None, ApplicationFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="ApplicationFolder"/>
    -->
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=QuanLyNhanSuEasyTest" />
    <add name="ConnectionString" connectionString="Data Source=192.168.100.254;Initial Catalog=QuanLyNhanSu; user id=sa; password=thank0291;" />
    <!--<add name="ConnectionString" connectionString="Data Source=.\;Initial Catalog=QuanLyNhanSu;Integrated Security=True"/>-->
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=QuanLyNhanSu.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
      <add name="XPO" value="3" />
    -->
    </switches>
  </system.diagnostics>
  <system.web>
    <compilation debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <machineKey validationKey="FA7CE7CDFC490967BBD36B69FEB9966C829F4AC5868FE0261442F1A7900F45C991686A5C799044BEC36462D157E350A42D4DA65646DC2B49E6B1489C26D031A1,IsolateApps" decryptionKey="540E06B73F490FC7390E2F7CEA78A2F759225E5B9D23CC02D2CC464DCB8C5983,IsolateApps" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="msgSize" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="QuanLyNhanSu.Mobile.DataService">
        <endpoint address="" behaviorConfiguration="" binding="webHttpBinding" bindingConfiguration="msgSize" contract="System.Data.Services.IRequestHandler" />
      </service>
      <service name="QuanLyNhanSu.Mobile.MetadataService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="" contract="DevExpress.ExpressApp.Mobile.Services.IMobileMetadataService" />
      </service>
      <!-- Uncomment the following code if you use ReportsMobileModuleV2 module. 
      <service name="QuanLyNhanSu.Mobile.DownloadReportService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="msgSize" contract="DevExpress.ExpressApp.ReportsV2.Mobile.IXafDownloadReportService" />
      </service>
	  -->
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpRedirect enabled="true" httpResponseStatus="Permanent">
      <add wildcard="/" destination="Static" />
    </httpRedirect>
    <handlers>
      <add name="MobileResources" verb="GET" path="Static*" type="QuanLyNhanSu.Mobile.ResourcesHttpHandler" />
      <!-- Uncomment the following code if you use ReportsMobileModuleV2 module. 
      <add name="Reports" verb="GET,POST" path="ReportsHandler*" type="DevExpress.ExpressApp.ReportsV2.Mobile.ReportsHandler, DevExpress.ExpressApp.ReportsV2.Mobile.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      -->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>